<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test CORS</title>
</head>
<body>

    <h2 id="result"></h2>
    <button id="btn" value="Запрос">Запрос</button>
    <script>
        const btn = document.getElementById("btn");
        const result = document.getElementById("result");
        btn.addEventListener("click", async () => {
            try {
                const response = await fetch("https://localhost:7287/hello", { headers: { "custom-header": "test" } });
                if (response.ok) result.innerText = await response.text("все получилось");
            }
            catch (e) {
                result.innerText = await response.text("ОШИБКА");
            }
        });
    </script>

</body>
</html>
