h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

/* Стили для кнопки увеличения счетчика */
#incrementBtn {
    background-color: green;
    color: white;
    border: none;
}

/* Стили для кнопки сброса счетчика */
#resetBtn {
    background-color: red;
    color: white;
    border: none;
}
