/* Стили для поля ввода */
input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Стили для кнопки */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для элемента p */
p {
    font-size: 18px;
    margin-top: 10px;
}
